@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(246, 241, 241);
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #080000;
}


#page1-in{
  position: relative;
  perspective: 1000px;
}
#section2{
  position: relative;
  perspective: 1000px;
}
#tiltDiv{
  width: fit-content;
  
}
.rotateText{
  transform-origin:100% 70% ;
}

#page1 {
  overflow-x: hidden;
  overflow-y: hidden; 
}